<!-- <div id="banner1" class="banner1">
    <img src="./img/img_games.png" alt="">
    <img src="./img/img_equip.png" alt="">
    <img src="./img/img_pcgamer.png" alt="">
</div>     -->

<div class="banner1">
    <div class="banner_itens">
        <div class="texto_banner">
            <h1>Tudo para a sua melhor experiência em games</h1>
        </div>
        <div class="button_banner">
            <a routerLink="games">Ver produtos</a>
        </div>
    </div>
</div>

<div class="banner2">
    <div class="banner_itens">
        <div class="texto_banner">
            <h1>Promoções exlusivas em computadores, celulares e acessórios</h1>
        </div>
        <div class="button_banner">
            <a routerLink="equips">Ver produtos</a>
        </div>
    </div>
</div>

<div class="banner3">
    <div class="banner_itens">
        <div class="texto_banner">
            <h1>Monte seu PC Gamer e conte com nossa ajuda</h1>
        </div>
        <div class="button_banner">
            <a routerLink="pcgamer">Ver produtos</a>
        </div>
    </div>
</div>

<div class="news">
    <h1>Notícias</h1>
    <div id="news_space" class="content-news">
        <!-- <div class="card-news">
            <a href="#"><img src="./img/copa_rakin_valorant.png" alt="imagem de flyer da Copa Rakin de Valorant: chegou o momento"></a>
            <h3>Copa Rakin - 2ª Edição</h3>
            <p>Copa Rakin ganha edição com foco em mulheres, transgêneros e não-binários. Segunda edição do campeonato terá produção majoritariamente feminina e distribuirá R$ 40 mil em premiação. Ler notícia.</p>
            <a href="#">Ler notícia</a>
        </div>
        <div class="card-news">
            <a href="#"><img src="./img/fifa22.png" alt="imagem de anúncio do Jogo Fifa 22 com jogadores do Paris Saint Germain perfilados: Neymar, Mbape e Di Maria"></a>
            <h3>Em breve! Fifa 22</h3>
            <p>FIFA 22 tem saldo positivo ao mergulhar na nova geração de consoles. Novo game, como de costume, parece solucionar grandes problemas do anterior. Para PS 5 e Xbox Series. Ler notícia.</p>
            <a href="#">Ler notícia</a>
        </div>
        <div class="card-news">
            <a href="#"><img src="./img/free_fire_favela.png" alt="imagem de flyer da campeonato Free Fire Taça das Favelas"></a>
            <h3>Free Fire: Taça das Favelas</h3>
            <p>Taça das Favelas de Free Fire é anunciada com apoio de LOUD e Itaú. Nova edição terá repescagem, mais de R$ 100 mil em premiação e time campeão fará bootcamp nas instalações da LOUD. Ler notícia.</p>
            <a href="#">Ler notícia</a>
        </div>
        <div class="card-news">
            <a href="#"><img src="./img/re4-vr.png" alt="imagem dos personagens do jogo Resident Evil 4"></a>
            <h3>Em breve! Resident Evil 4 VR</h3>
            <p>O jogo será lançado em 21 de outubro para Oculus Quest 2. A data foi anunciada por meio de  trailer inédito divulgado nesta segunda (27).Anova versão não deverá ser lançada para outras plataformas. Ler notícia.</p>
            <a href="#">Ler notícia</a>
        </div> -->
    </div>
    <div class="button_banner">
        <a href="#">Mais notícias</a>
    </div>
</div>

<div class="newsletter">
    <div class="newsletter_itens container">
        <img src="assets/img/icon_newsletter.png" alt="ícone de carta estiizado representando email para seção de newsletter">
        <div class="newsletter_text">
            <p>Assine nossa newsletter para novidades e ofertas exclusivas!</p>
        </div>
        <form class="form_mail" action="">
            <input id="campo_email" class="campo_mail" type="email" placeholder="Digite seu e-mail..." required>
            <button class="submit" onclick="cadastroEmail()">Enviar</button>
            <!-- <input class="submit" type="submit" value="Enviar"> -->
        </form>
    </div>
</div>


<div class="site_map container">
    <div class="map_block">
            <h1>O que você procura?</h1>
            <a href="#">Home</a>
            <a href="#">Jogos</a>
            <a href="#">Eletrônicos e equipamentos</a>
            <a href="#">Destaques</a>
            <a href="#">Lançamentos</a>
            <a href="#">Notícias e eventos</a>
            <a href="#">Mais vendidos</a>
            <a href="#">Em breve</a>
            <a href="#">Ofertas</a>
            <a href="#">Blog</a>
        </div>
    <div class="map_block">
            <h1>Institucional</h1>
            <a href="#">Sobre</a>
            <a href="#">SAC</a>
            <a href="#">Garantias e reembolsos</a>
            <a href="#">Termos de serviço</a>
            <a href="#">Política de privacidade</a>
            <a href="#">Segurança</a>
            <a href="#">Documentos</a>
        </div>
    <div class="map_block">
            <h1>Fale conosco</h1>
            <p>Av. Paulista, 2053 - loja 13</p>
            <section>
                <!-- mapa não ativado -->
                <iframe src="https://www.google.com/maps/place/Av.+Paulista,+2053+-+Bela+Vista,+S%C3%A3o+Paulo+-+SP,+01311-300/@-23.5589628,-46.6597805,16z/data=!4m2!3m1!1s0x94ce59cd6c33fc01:0xffaae8350ddcadec" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </section>
            <p>(11) 99999-9999 (Vivo)</p>
            <p>(11) 98888-8888 (Claro)</p>
            <p>(11) 3555-5555</p>
            <p>faleconosco@gamemania.com.br</p>
        </div>
    </div>
    


    <script>
        let categorias = document.getElementById("categorias");
        function mostrarMenu() {
            // console.log(getComputedStyle(categorias).display);
            if(categorias.style.display == "none") {
                categorias.style.display = "flex";
            } else {
                categorias.style.display = "none";
            }
        }
    </script>
<script type="text/javascript" src="js/jquery-3.6.0.js"></script>    
<script src="js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<!-- <script async src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"></script> -->
<!-- usei a classe "container" do bootstrap -->
