<footer>
    <div class="bck_footer">
        <nav class="footer container">
            <div class="social_nets">
                <h1>Siga-nos nas redes!</h1>
                <a href="#"><img class="icon_footer" src="assets/img/facebook.svg" alt="link para o facebook da game mania"></a>
                <a href="#"><img class="icon_footer" src="assets/img/twitter.svg" alt="link para o twitter da game mania"></a>
                <a href="#"><img class="icon_footer" src="assets/img/youtube.svg" alt="link para o youtube da game mania"></a>
                <a href="#"><img class="icon_footer" src="assets/img/instagram.svg" alt="link para o instagem da game mania"></a>
            </div>
            <h1 class="copyright">Copyright © 2021 GameMania. Todos os direitos reservados.</h1>
            <h2>© 2021 Todos os direitos reservados.</h2>
            <div class="pagamentos">
                <h1>Formas de pagamento</h1>
                <img class="icon_footer" src="assets/img/cc-visa 1.svg" alt="Logo da visa">
                <img class="icon_footer" src="assets/img/cc-mastercard 1.svg" alt="logo da mastercard">
                <img class="icon_footer" src="assets/img/cc-paypal 1.svg" alt="logo do paypal">
                <img class="icon_footer" src="assets/img/cc-apple-pay 1.svg" alt="logo do applepay">
                <img class="icon_footer" src="assets/img/boleto.svg" alt="ícone de boleto bancário">
            </div>
        </nav>
    </div>
</footer>
